body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dd {
  margin: 0;
}
body {
  font-size: 14px;
  font-family: "Microsoft Yahei";
  color: #333;
}
ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  border: none;
  vertical-align: middle;
}
a {
  text-decoration: none;
  color: #333;
}
a:hover {
  color: #b4a078;
}
input {
  margin: 0;
  padding: 0;
  vertical-align: middle;
  border: 0.0625rem solid #ccc;
}
label {
  vertical-align: middle;
}
table {
  border-collapse: collapse;
}
th,
td {
  padding: 0;
}

.center {
  width: 1090px;
  margin: 0 auto;
}

.scaleImg img {
  transition: 1s ease-out;
  transform: scale(1);
}
.scaleImg:hover img {
  transform: scale(1.1);
}
.original {
  background: #f4f4f4 url("../images/bgloading.webp") center no-repeat;
}

/*----------头部----------*/
#head {
  border-bottom: 1px solid #f3f3f3;
  box-shadow: 0 2px 2px #f3f3f3;
  padding-bottom: 7px;
}
#head .head {
  background-color: #333;
  font-size: 12px;
  line-height: 36px;
}
.center.clearfix {
  display: flex;
  justify-content: space-between;
}
.list {
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 461.28px;
}
.list .arrRoteta {
  display: inline-block;
  background: url("../images/customer_bg2.gif");
  margin-left: 5px;
  height: 5px;
  width: 9px;
}
.phone {
  display: inline-block;
  background-image: url("../images/ico_01.png");
  height: 11px;
  width: 7px;
  margin-right: 3px;
  vertical-align: middle;
}
.center.clearfix,
.list a {
  color: #cccccc;
}
.list a:hover {
  color: #ffffff;
}
.before::before {
  margin-right: 10px;
  content: "";
  display: inline-block;
  height: 16px;
  border-left: 1px solid #5c5c5c;
  vertical-align: middle;
}
.list .bottomList {
  display: none;
  position: absolute;
  width: 82px;
  background-color: #ffffff;
  text-align: center;
  box-shadow: 0 0 3px #aaaaaa;
  z-index: 99;
}
.bottomList .bottomList-item .line:before {
  content: "";
  display: block;
  margin: 0 auto;
  border-bottom: 1px solid #dbdbdb;
  width: 60px;
}
.arr {
  position: absolute;
  top: -16px;
  left: 33px;
  width: 0;
  height: 0;
  border: 8px solid;
  border-color: transparent transparent #ffffff;
}
.hamburger:hover .bottomList {
  display: block;
}
.hamburger .bottomList .bottomList-item a {
  color: #999999;
}
.hamburger .bottomList .bottomList-item a:hover {
  color: #cc9756;
}

/* -----------logo与搜索栏----------- */
.wyyx-logo {
  display: block;
  height: 60px;
  width: 212px;
  background-image: url("../images/icon-sprint.png");
  background-position: 0 -298px;
  background-size: 100%;
}

.searchBar {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}
.search {
  position: relative;
}
.searchInput {
  display: inline-block;
  position: relative;
  margin-top: 6px;
  border: 1px solid #cc9756;
  border-radius: 25px 0 0 25px;
  z-index: 3;
}
.searchInput .search-icon {
  position: absolute;
  left: 15px;
  top: 11px;
  background-image: url("../images/ico_03.gif");
  background-size: cover;
  height: 14px;
  width: 14px;
}
.searchInput input {
  width: 390px;
  border-radius: 25px 0 0 25px;
  height: 32px;
  outline: none;
  border: none;
  padding: 2px 0 2px 38px;
}
.search .searchButton {
  position: absolute;
  display: inline-block;
  margin-top: 6px;
  width: 90px;
  text-align: center;
  line-height: 38px;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 1px;
  cursor: pointer;
  height: 38px;
  background-color: #cc9756;
  border-radius: 0 25px 25px 0;
}
.search .keywords {
  height: 18px;
  line-height: 18px;
  margin: 4px 0 18px 0;
}
.keywordsList {
  margin-left: 12px;
}

.search .keywords a {
  color: #aaaaaa;
  font-size: 10px;
  margin: 0 8px;
}
.search .keywords a:hover {
  color: #cc9756;
}
/* ---------购物车-------- */
.buyCar {
  position: relative;

  width: 132px;
  height: 36px;
  border: 1px solid #cc9756;
  border-radius: 25px;
  margin-top: 6px;
  text-align: center;
  cursor: pointer;
  line-height: 36px;
  color: #cc9756;
}
.buyCar .iconcar {
  position: absolute;
  left: 17px;
  top: 8px;
  display: inline-block;
  height: 18px;
  width: 18px;
  background-image: url("../images/ico_04.gif");
  background-repeat: no-repeat;
  background-size: cover;
}
.buyCar .iconcar-num {
  position: absolute;
  top: 9px;
  right: 18px;
  width: 18px;
  height: 18px;
  text-align: center;
  line-height: 18px;
  color: #ffffff;
  font-style: normal;
  font-size: 12px;
  background-color: rgb(255, 59, 59);
  border-radius: 50%;
}

/* ---------导航栏-------- */
.yxtabNav {
  display: flex;
  justify-content: space-between;
}
.yxtabNav .yxtabNav-item > a {
  font-size: 14px;
  font-weight: 700;
  padding-bottom: 4px;
}
.yxtabNav .yxtabNav-item > a:hover {
  color: #cc9756;
  border-bottom: 3px solid #cc9756;
  transition: 0.14s linear;
}

.yxtabNav .center {
  position: relative;
}
.yxtabNav-item .tabNav-dropdown {
  display: none;
  position: absolute;
  height: 512.6px;
  background-color: #b4a078;
  padding: 14px 20px 20px;
  width: 1350px;
  left: 100px;
  top: 166px;
}
.cateGroup .columnList {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.yxtabNav-item:hover .tabNav-dropdown {
  display: block;
  transition: 1s ease-in;
}
